<h1 class="ui header">
    {{ 'bitbag_sylius_smash_promotion.ui.smashes'|trans }}
    <div class="sub header">{{ 'bitbag_sylius_smash_promotion.ui.browse_your_smashes'|trans }}</div>

    {{ sonata_block_render_event('bitbag_sylius_smash_promotion.shop.account.smash.index.header', {'smashes': smashes}) }}
</h1>
